.banner {
  width: 100%;
  height: 750px;
  padding: 150px 80px;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  &__image-container {
    width: 700px;
    height: 400px;
    z-index: 1;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__text-container {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    z-index: 100;
    height: 304px;
    width: 640px;
    padding: 0 60px;
    position: absolute;
    bottom: 119px;
    right: 80px;

    &-title {
      font-size: 50px;
      align-self: center;
      margin-bottom: 30px;
      text-align: center;
      letter-spacing: 2px;
    }
    &-text {
      color: gray;
      letter-spacing: 1px;
      text-align: left;
      line-height:25px;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 1150px) {
  .banner {
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;

    &__image-container {
      width: 100%;
      height: 100%;

      img {
        object-fit: cover;
      }
    }
    &__text-container {
      min-height: 304px;
      height: auto;
      width: 100%;
      position: static;
      padding: 0 20px;

      &-title {
        font-size: 28px;
        height: auto;
        margin-top: 50px;
      }
      &-text {
        text-align: center;
        height: auto;
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .banner {
    padding: 150px 30px;
  }
}
